**/*.zip
*.bacpac
*.tfstate
*.tfstate.backup
env.ps1
**/.terraform.lock.hcl
**/.terraform
**/.angular
**/bin
**/obj
**/node_modules
**/wwwroot
**/publish
learn-azure.pdf
**/__queuestorage__
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
publish.zip
secrets.json
*.aux
*log
*synctex.gz
**/.vs
doc/~$aca-inzynierska.docx
app/src/Properties/PublishProfiles
app/src/Properties/ServiceDependencies
*.epub
buyya-cloud-computing-principles-and-paradigms.pdf
erl-cloud-computing-concepts.pdf
freeman-pro-asp-net-mvc-5.pdf
hernandez-database-design-for-mere-mortals.pdf
modi-azure-for-architects.pdf
sosinsky-cloud-computing-bible.pdf
tadeusiewicz-krotka-historia-informatyki.pdf
toroman-learn-azure.pdf
